body{
    font-family: 'Piazzolla', serif;
}
h1{
    font-size:50px;
}
.header_orange{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.right_side img{
    width: 50%;
    border-radius: 8px;
    margin-top: 10px;
}
.left_side img{
    width:50%;
    border-radius: 8px;
    margin-top: 10px;
}
.left_side{
    width:50%;
    padding-left: 8%;
}
.right_side{
    width:50%;
    padding-left: 0;
}
.section_button{
    background-image:linear-gradient(orange,tomato);
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-weight: 700;
}
.box-shadow-s{
    box-shadow: 10px 10px 40px #000000;
    width:40%;
    margin-left: 5%;
    padding: 4px;
    border-radius: 4px;
}
#web-dev-ex{
    border-left:7px solid;
    border-image: linear-gradient (blue,cyan);
    border-image-slice: 1;
}
#baby-w-dev-ex{
    border-left:7px solid;
    border-image: linear-gradient (salmon,tomato);
    border-image-slice: 1;
}
h2{
    font-size: 40px;
}
footer p{
    text-align: center;
    color:black;
}