body{
    font-family: 'Piazzolla', serif;
}
h1{
    font-size:50px;
}
.h1_header{
    color:orange;
}
.flexible-container{
    display: flex;
    margin-bottom: 200px;
}
.right_side img{
    width: 50%;
    border-radius: 8px;
    margin-top: 10px;
}
.left_side img{
    width:50%;
    border-radius: 8px;
    margin-top: 10px;
}
.left_side{
    width:50%;
    padding-left: 8%;
}
.right_side{
    width:50%;
    padding-left: 0;
}
.section_button{
    background-image:linear-gradient(orange,tomato);
    padding: 8px 30px;
    border-radius: 5px;
    text-decoration: none;
    color:white;
    font-weight: 700;
}
