body{
    font-family: 'Piazzolla', serif;
}
h1{
    font-size:50px;
}
.h1_header{
    color:orange;
}
section{
    display: flex;
}
.right_side img{
    width: 60%;
    border-radius: 5px;
 
    margin-left: 10px;
}
.left_side{
    width:50%;
    padding-left: 15%;
}
.right_side{
    width:50%;
}